@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: "helvetica neue", sans-serif;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

a#titulo {
    position: absolute;
    left: 20px;
    color: gray;
    font-size: 18px;
    text-transform:uppercase;
    text-decoration: none;
}

a#pagAtual {
    color:coral;
}

/* Configuração footer */
footer {
    text-align: center;
    border-top: 1px solid #EAEAEB;
    bottom: 0;
    
}

footer p{
    text-transform:full-width;
    margin: 5px auto -15px auto;
}
hgroup#redesSociais a {
    text-decoration: none;
    color:grey;
    text-transform:full-width;
    font-size: 14px;
}
hgroup#redesSociais a:hover {
    color: coral;
}

/* Definições do corpo */

.corpo{
    height: 80%;
    padding: 0 30px 0 30px;
}

/* CORPO INDEX */
.corpo#index {
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center; 
}
.corpo#index img{
    padding-top: 7%;
    display: block;
    width: 90%;
}

.corpo#index .esquerda {
    width: 70%;
    float: left;
}

.corpo#index .direita {
    width: 30%;
    float: right;
}

.corpo#index .direita div.login{
    padding-top: 18%;
    padding-left: 18%;
}
.corpo#index .direita div.login form{
    display: table-cell;
    text-align: left;
    vertical-align: middle;    
}

.corpo#index .direita div.loginLigado {
    padding-top: 12%;
}

/* REGISTO */

.corpo#register{
    
    background-position: center; 
    text-align: center;
    vertical-align:middle;
}

/* CORPO RECEITAS@INDEX */

.corpo#receitasIndex .esquerda {
    width: 25%;
    float: left;
}


.corpo#receitasIndex .esquerda .opcao a{
   padding-left: 20px;
   color: black;
   text-decoration: none;
}

.corpo#receitasIndex .direita {
    width: 75%;
    float: right;
}

.corpo#receitasIndex .direita a {
    color: black;

}

/* RECEITAS@FILTER */

.corpo#showfilter .esquerda {
    width: 25%;
    float: left;
}


.corpo#showfilter .esquerda .opcao a{
   padding-left: 20px;
   color: black;
   text-decoration: none;
}

.corpo#showfilter .direita {
    width: 75%;
    float: right;
}

.corpo#showfilter .direita a {
    color: black;
}

/* RECEITAS FILTROS */

.corpo#showfilter .esquerda .opcao a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
 }

/* CONTACTOS */

.corpo#contactos .esquerda {
    width: 45%;
    float: left;
}

#formulario {
    padding-top: 15px;
}

#formulario input{
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    padding-left: 5px;
    resize: none;
    font-size: 16px;
    padding-bottom: 2px;
}

#formulario .btn  {
    color: coral;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid coral;
}

.corpo#contactos .direita {
    width: 55%;
    float: right;
}

.corpo#contactos .direita iframe{
    padding-top: 6%;
}

/* SOBRE */

.corpo#sobre .esquerda {
    width: 50%;
    float: left;
}

.corpo#sobre .direita {
    width: 45%;
    float: right;
}

.corpo#sobre .direita img{
    padding-top: 7%;
    display: block;
    width: 75%;
}

/* CORPO RECEITAS@SHOW */

.corpo#receitasShow .esquerda {
    width: 35%;
    float: left;
}

.corpo#receitasShow .esquerda img {
    width: 75%;
}

.corpo#receitasShow .direita {
    width: 65%;
    float: right;
}

.corpo#receitasShow .direita .detalhes {
    height: 15%;

}

.corpo#receitasShow .direita .passos {
    height: 18%;
    padding-top: 10px;

}

.corpo#receitasShow .direita .nPessoas {
    height: 15%;
    padding-top: 10px;
}

.corpo#receitasShow .direita .edit {
    float: right;
}


/* CORPO INGREDIENTES@INDEX */

.corpo#ingredientesIndex .esquerda {
    width: 25%;
    float: left;
}

.corpo#ingredientesIndex .esquerda .opcao a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

.corpo#ingredientesIndex .direita a{
    color: black;
}
.corpo#ingredientesIndex .direita {
    width: 75%;
    float: right;
}

.corpo#ingredientesIndex .direita table{
    padding-top: 10px;
    border-collapse: collapse;
    width: 100%;
}
.corpo#ingredientesIndex .direita td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .corpo#ingredientesIndex .direita tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* CORPO INGREDIENTES@ShowFilters */

.corpo#showfilters .esquerda {
    width: 25%;
    float: left;
}

.corpo#showfilters .esquerda .opcao a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

.corpo#showfilters .direita a{
    color: black;
}
.corpo#showfilters .direita {
    width: 75%;
    float: right;
}

.corpo#showfilters .direita table{
    padding-top: 10px;
    border-collapse: collapse;
    width: 100%;
}
.corpo#showfilters .direita td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .corpo#showfilters .direita tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* UTILIZADORES SHOW */

  .corpo#utilizadoresShow .esquerda {
    width: 25%;
    float: left;
  }
  .corpo#utilizadoresShow .esquerda img{
    padding-top: 15px;
    height: 350px;
    width: 350px;
  }
  .corpo#utilizadoresShow .direita {
    width: 75%;
    float: right; 
}




/*css searchbar*/

* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}



























