@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: "helvetica neue", sans-serif;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

a#titulo {
    position: absolute;
    left: 20px;
    color: gray;
    font-size: 18px;
    text-transform:uppercase;
    text-decoration: none;
}

a#pagAtual {
    color:coral;
}

/* Configuração footer */
footer {
    text-align: center;
    border-top: 1px solid #EAEAEB;
    bottom: 0;
}

footer p{
    text-transform:full-width;
    margin: 5px auto -15px auto;
}
hgroup#redesSociais a {
    text-decoration: none;
    color:grey;
    text-transform:full-width;
    font-size: 14px;
}
hgroup#redesSociais a:hover {
    color: coral;
}

/* Definições do corpo */

.corpo{
    height: 80%;
    padding: 0 30px 0 30px;
}

/* CORPO INDEX */
.corpo#index {
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center; 

}
.corpo#index img{
    padding-top: 7%;
    display: block;
    width: 90%;
}

.corpo#index .esquerda {
    width: 70%;
    float: left;
}

.corpo#index .direita {
    width: 30%;
    float: right;
}

.corpo#index .direita div.login{
    padding-top: 18%;
    padding-left: 18%;
}
.corpo#index .direita div.login form{
    display: table-cell;
    text-align: left;
    vertical-align: middle;    
}

.corpo#register{
    
    background-position: center; 
    text-align: center;
    vertical-align:middle;
}

/* CORPO RECEITAS@INDEX */

.corpo#receitasIndex .esquerda {
    width: 25%;
    float: left;
}

.corpo#receitasIndex .direita {
    width: 75%;
    float: right;
}

/* CORPO RECEITAS@SHOW */

.corpo#receitasShow .esquerda {
    width: 35%;
    float: left;
}

.corpo#receitasShow .esquerda img {
    width: 75%;
}

.corpo#receitasShow .direita {
    width: 65%;
    float: right;
}

.corpo#receitasShow .direita .detalhes {
    height: 25%;
}

.corpo#receitasShow .direita .passos {
    height: 25%;
}

.corpo#receitasShow .direita .nPessoas {
    height: 25%;
}

.corpo#receitasShow .direita .edit {
    float: right;
}


/* CORPO INGREDIENTES@INDEX */

.corpo#ingredientesIndex .esquerda {
    width: 25%;
    float: left;
}


.corpo#ingredientesIndex .direita {
    width: 75%;
    float: right;
}

.corpo#ingredientesIndex .direita table{
    border-collapse: collapse;
    width: 100%;
}
.corpo#ingredientesIndex .direita td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .corpo#ingredientesIndex .direita tr:nth-child(even) {
    background-color: #dddddd;
  }




















